.card {
    font-family: "Stint Ultra Condensed", serif;
    /* width: calc(59px * var(--zoomFactor));
    height: calc(92px * var(--zoomFactor)); */
    background-color: #f0f0f0;
    background-color: #f0f0f0;
    border: 1px solid #00000088;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    font-size: 2rem; /* Symbol Font Size */
    border-radius: 0.5rem;
}
/* CARD VALUE */
.card span:nth-of-type(3) {
    grid-column: 1 / 3;
    justify-self: center;
    align-self: center;
    font-size: 4rem; /* Card Value Font Size */
    padding: 0.25em 0.5em;
    color: #111;
}
.card span:nth-of-type(2),
.card span:nth-of-type(5) {
    justify-self: end;
}
.card span:nth-of-type(1),
.card span:nth-of-type(4) {
    justify-self: start;
}
.red {
    color: red;
}
.hidden {
    background-color: #333;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.card:not(.hidden) {
    cursor: pointer;
}
